.wrapper {
  position: fixed;
  inset: 0;
  min-height: 100vh;
  width: 100%;
}

.overlay {
  position: fixed;
  inset: 0;
  height: 100vh; /* Use height instead of min-height */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  -webkit-backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

/* Light mode */
:global(.light) .overlay {
  background: var(--gray-50);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
/* Dark mode */
:global(.dark) .overlay {
  background: linear-gradient(
    to bottom right,
    rgb(2 6 23),
    rgb(26 35 39),
    rgb(26 35 39)
  );
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
