@tailwind base;
@tailwind components;
@tailwind utilities;

/* App globals */
:root {
  color-scheme: light dark;
}

html, body, #root {
  height: 100%;
}

body {
  @apply bg-white text-slate-900 dark:bg-slate-950 dark:text-slate-100 antialiased;
}

a {
  @apply text-brand-600 hover:text-brand-700 underline-offset-4 hover:underline;
}
